<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kessi.TOStatusSaver">

    <application
        android:name="com.kessi.TOStatusSaver.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.WAStatusSaver"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.kessi.TOStatusSaver.HelpActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.TOStatusSaver.SplashActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kessi.TOStatusSaver.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.TOStatusSaver.MyStatusActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.TOStatusSaver.PreviewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.kessi.TOStatusSaver.PolicyActivity"
            android:screenOrientation="nosensor" />
        <activity android:name="com.kessi.TOStatusSaver.VideoPlayerActivity" />
        <activity
            android:name="com.kessi.TOStatusSaver.waweb.WAWebActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:persistableMode="persistAcrossReboots">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.kessi.TOStatusSaver.DChatActivity"
            android:screenOrientation="nosensor"/>

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>
</manifest>